@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

.bg-dl-github {
  background-color: #1a1a1a;
}
.bg-dl-frontendmentor {
  background-color: #ffffff;
}
.bg-dl-twitter {
  background-color: #43b7e9;
}
.bg-dl-linkedin {
  background-color: #2d68ff;
}
.bg-dl-youtube {
  background-color: #ee3939;
}
.bg-dl-facebook {
  background-color: #2442ac;
}
.bg-dl-twitch {
  background-color: #ee3fc8;
}
.bg-dl-devto {
  background-color: #333333;
}
.bg-dl-codewars {
  background-color: #8a1a50;
}
.bg-dl-codepen {
  background-color: #1e1f26;
}
.bg-dl-freecodecamp {
  background-color: #302267;
}
.bg-dl-gitlab {
  background-color: #eb4925;
}
.bg-dl-hashnode {
  background-color: #0330d1;
}
.bg-dl-stackoverflow {
  background-color: #ec7100;
}
.border-dl-github {
  border-color: #1a1a1a;
}
.border-dl-frontendmentor {
  border-color: #ffffff;
}
.border-dl-twitter {
  border-color: #43b7e9;
}
.border-dl-linkedin {
  border-color: #2d68ff;
}
.border-dl-youtube {
  border-color: #ee3939;
}
.border-dl-facebook {
  border-color: #2442ac;
}
.border-dl-twitch {
  border-color: #ee3fc8;
}
.border-dl-devto {
  border-color: #333333;
}
.border-dl-codewars {
  border-color: #8a1a50;
}
.border-dl-codepen {
  border-color: #1e1f26;
}
.border-dl-freecodecamp {
  border-color: #302267;
}
.border-dl-gitlab {
  border-color: #eb4925;
}
.border-dl-hashnode {
  border-color: #0330d1;
}
.border-dl-stackoverflow {
  border-color: #ec7100;
}

@layer base {
  :root {
    --dl-background: 255, 255, 255;
    --dl-purple: 99, 59, 255;
    --dl-mid-purple: 190, 173, 255;
    --dl-light-purple: 239, 235, 255;
    --dl-light-purple-neutral: 245, 214, 255;
    --dl-black-gray: 51, 51, 51;
    --dl-dark-gray: 115, 115, 115;
    --dl-light-gray: 217, 217, 217;
    --dl-white-gray: 250, 250, 250;
    --dl-white: 255, 255, 255;
    --dl-black: 0, 0, 0;
    --dl-new-white: 0, 0, 0;
    --dl-special-black: 0 0 0;
    --dl-neutral-white: 255, 255, 255;
    --dl-red: 255, 57, 57;
    --dl-github: 26, 26, 26;
    --dl-frontendmentor: 255, 255, 255;
    --dl-twitter: 67, 183, 233;
    --dl-linkedin: 45, 104, 255;
    --dl-youtube: 238, 57, 57;
    --dl-facebook: 36, 66, 172;
    --dl-twitch: 238, 63, 200;
    --dl-devto: 51, 51, 51;
    --dl-codewars: 138, 26, 80;
    --dl-codepen: 30, 31, 38;
    --dl-freecodecamp: 48, 34, 103;
    --dl-gitlab: 235, 73, 37;
    --dl-hashnode: 3, 48, 209;
    --dl-stackoverflow: 236, 113, 0;
  }

  .dark {
    --dl-background: 27,27,27;
    --dl-purple: 99, 59, 255;
    --dl-mid-purple: 190, 173, 255;
    --dl-light-purple: 146, 143, 156;
    --dl-light-purple-neutral: 245, 214, 255;
    --dl-black-gray: 201, 201, 201;
    --dl-dark-gray: 175, 175, 175;
    --dl-light-gray: 117, 117, 117;
    --dl-white-gray: 54, 54, 54;
    --dl-white: 17, 17, 17;
    --dl-black: 200, 200, 200;
    --dl-new-white: 255, 255, 255;
    --dl-special-black: 200 200 200;
    --dl-neutral-white: 255, 255, 255;
    --dl-red: 255, 57, 57;
    --dl-github: 26, 26, 26;
    --dl-frontendmentor: 255, 255, 255;
    --dl-twitter: 67, 183, 233;
    --dl-linkedin: 45, 104, 255;
    --dl-youtube: 238, 57, 57;
    --dl-facebook: 36, 66, 172;
    --dl-twitch: 238, 63, 200;
    --dl-devto: 51, 51, 51;
    --dl-codewars: 138, 26, 80;
    --dl-codepen: 30, 31, 38;
    --dl-freecodecamp: 48, 34, 103;
    --dl-gitlab: 235, 73, 37;
    --dl-hashnode: 3, 48, 209;
    --dl-stackoverflow: 236, 113, 0;
  }
}

.platformMask:hover span {
  filter: sepia(100%) hue-rotate(200deg) saturate(9);
  -webkit-filter: sepia(100%) hue-rotate(200deg) saturate(9);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: 0;
  /* none; */
}

.gradient-text {
  background: linear-gradient(
    90deg,
    #3b82f6,
    #ec4899,
    #8b5cf6,
    #06b6d4,
    #f97316,
    #ef4444
  );
  background-size: 600%; /* Allow smooth gradient transition */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: background-position 0.1s ease;
}