@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

  .bg-dl-github { background-color: #1A1A1A }
  .bg-dl-frontendmentor { background-color: #FFFFFF }
  .bg-dl-twitter { background-color: #43B7E9 }
  .bg-dl-linkedin { background-color: #2D68FF }
  .bg-dl-youtube { background-color: #EE3939 }
  .bg-dl-facebook { background-color: #2442AC }
  .bg-dl-twitch { background-color: #EE3FC8 }
  .bg-dl-devto { background-color: #333333 }
  .bg-dl-codewars { background-color: #8A1A50 }
  .bg-dl-codepen { background-color: #1E1F26 }
  .bg-dl-freecodecamp { background-color: #302267 }
  .bg-dl-gitlab { background-color: #EB4925 }
  .bg-dl-hashnode { background-color: #0330D1 }
  .bg-dl-stackoverflow { background-color: #EC7100 }
  .border-dl-github { border-color: #1A1A1A }
  .border-dl-frontendmentor { border-color: #FFFFFF }
  .border-dl-twitter { border-color: #43B7E9 }
  .border-dl-linkedin { border-color: #2D68FF }
  .border-dl-youtube { border-color: #EE3939 }
  .border-dl-facebook { border-color: #2442AC }
  .border-dl-twitch { border-color: #EE3FC8 }
  .border-dl-devto { border-color: #333333 }
  .border-dl-codewars { border-color: #8A1A50 }
  .border-dl-codepen { border-color: #1E1F26 }
  .border-dl-freecodecamp { border-color: #302267 }
  .border-dl-gitlab { border-color: #EB4925 }
  .border-dl-hashnode { border-color: #0330D1 }
  .border-dl-stackoverflow { border-color: #EC7100 }

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.platformMask:hover span {
  filter: sepia(100%) hue-rotate(200deg) saturate(9);
  -webkit-filter: sepia(100%) hue-rotate(200deg) saturate(9);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
